//== Colors

$color-default: #b4e650;

// Escala de cinza
$color-white: #fff;
$color-light-alt: #f5f5f5;
$color-light: #e6e6e6;
$color-bright: #969696;
$color-gray: #666;
$color-dark: #585858;
$color-shadow-alt: #484848;
$color-shadow: #363636;
$color-black: #222;

// Experiência de usuário
$color-info: #203240 !default;
$color-alert: #d68836 !default;
$color-error: #ae3311 !default;
$color-success: #b4e650 !default;
$color-warning: #ecc22f !default;
$color-muted: $color-gray !default;
$color-popup: #ffcc66 !default;
$color-code: darken($color-default, 35%) !default;
$color-kbd: $color-default;

//Variação
$color-dark-variant: 10%;
$color-light-variant: 10%;

//Estado
$color-state-info: lighten($color-info,$color-light-variant) !default;
$color-state-alert: lighten($color-alert, $color-light-variant) !default;
$color-state-error: lighten($color-error, $color-light-variant) !default;
$color-state-success: lighten($color-success, $color-light-variant) !default;
$color-state-warning: lighten($color-warning, $color-light-variant) !default;
$color-state-muted: lighten($color-muted, $color-light-variant) !default;
$color-state-popup: lighten($color-popup, $color-light-variant) !default;
$color-state-code: lighten($color-default, 20%);
$color-state-kbd: $color-shadow;



//pre
$pre-scrollable-max-height:   340px !default;



//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               $color-white !default;
//** Global text color on `<body>`.
$text-color:            $color-black !default;

//** Global textual link color.
$link-color:            $color-info !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;




//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif:  "Fira Sans", Helvetica, Arial, sans-serif !default;
$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;

$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$font-weight-thin:        100;
$font-weight-light:       300;
$font-weight-normal:      400;
$font-weight-medium:      500;
$font-weight-bold:        700;
$font-weight-ultrabold:   900;

$font-weight-base: $font-weight-normal;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.5 !default; // 24/16
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    300 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;


//== Screen
// Small screen / tablet
$screen-sm-min:              768px !default;

// Medium screen / desktop
$screen-md-min:              992px  !default;

// Large screen / wide desktop
$screen-lg-min:              1200px !default;
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;


//== Grid system

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min !default;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             ((720px + $grid-gutter-width)) !default;
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet !default;

// Medium screen / desktop
$container-desktop:            ((940px + $grid-gutter-width)) !default;
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop !default;

// Large screen / wide desktop
$container-large-desktop:      ((1140px + $grid-gutter-width)) !default;
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop !default;



//== Pagination
$paginator-color: $link-color !default;
$paginator-bg: #fff !default;
$paginator-border: #ddd !default;
$paginator-hover-color: $link-hover-color !default;
$paginator-hover-bg: $color-light !default;
$paginator-hover-border: #ddd !default;
$paginator-active-color: #fff !default;
$paginator-active-bg: $color-info !default;
$paginator-active-border: $color-info !default;
$paginator-disabled-color: $color-light-alt !default;
$paginator-disabled-bg: #fff !default;
$paginator-disabled-border: #ddd !default;


//== Sizes
$size-header: $font-size-base * 3; // 48px;
$size-component-height: 4rem; //64px
$size-component: $font-size-base * 12;
$size-panel: $font-size-base * 25;  // 400px
$size-line: 1.5rem; // 24px
$size-line-control: 2.25rem;//36px
$size-line-header: 3rem; //48px
$size-header: 3rem; // 48px;
$size-base: 4.25rem; // 68px
$size-panel: 25rem;  // 400px

//== Components
$padding-base-vertical:     6px !default;
$padding-base-horizontal:   12px !default;

$padding-large-vertical:    10px !default;
$padding-large-horizontal:  16px !default;

$padding-small-vertical:    5px !default;
$padding-small-horizontal:  10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;


//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:    #fff !default;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $color-default !default;

//** Width of the `border` for generating carets that indicator dropdowns.
$caret-width-base:          4px !default;
//** Carets increase slightly in size for larger components.
$caret-width-large:         5px !default;



//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;
//** Background color used for `.table-striped`.
$table-bg-accent:               $color-light-alt !default;
//** Background color used for `.table-hover`.
$table-bg-hover:                $color-info !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            $color-light !default;

//== Tooltips
//
//##

//** Tooltip max width
$tooltip-max-width:           200px !default;
//** Tooltip text color
$tooltip-color:               $color-info !default;
//** Tooltip background color
$tooltip-bg:                  $color-info !default;
$tooltip-opacity:             .9 !default;

//** Tooltip arrow width
$tooltip-arrow-width:         5px !default;
//** Tooltip arrow color
$tooltip-arrow-color:         $tooltip-bg !default;


//-- Z-index master list
//
// Warning: Avoid customizing these values. They're used for a bird's eye view
// of components dependent on the z-axis and are designed to all work together.
//
// Note: These variables are not generated into the Customizer.

$zindex-navbar:            1000 !default;
$zindex-dropdown:          1000 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;
$zindex-navbar-fixed:      1030 !default;
$zindex-modal-background:  1040 !default;
$zindex-modal:             1050 !default;
