<h1>
    Botões
</h1>

<section class="demo-section">
    <header>
        <h1>Tipos</h1>
    </header>

    <button class="mv-btn default">Default</button>
    <button class="mv-btn info">Info</button>
    <button class="mv-btn error">Error</button>
    <button class="mv-btn success">Success</button>
    <button class="mv-btn warning">Warning</button>
    <button class="mv-btn muted">Muted</button>
</section>


<section class="demo-section">
    <header>
        <h1>Ícones</h1>
    </header>

    <button class="mv-btn default">
        <i class="fa fa-globe"></i> Default
    </button>
    <button class="mv-btn info">
        <i class="fa fa-globe"></i> Info
    </button>
    <button class="mv-btn error">
        <i class="fa fa-globe"></i> Error
    </button>
    <button class="mv-btn success">
        <i class="fa fa-globe"></i> Success
    </button>
    <button class="mv-btn warning">
        <i class="fa fa-globe"></i> Warning
    </button>
    <button class="mv-btn muted">
        <i class="fa fa-globe"></i> Muted
    </button>
    <button class="mv-btn inverse">
        <i class="fa fa-globe"></i> Inverse
    </button>
</section>

<section class="demo-section">
    <header>
        <h1>Bordas</h1>
    </header>

    <h2>Arredondadas(.rounded)</h2>

    <button class="mv-btn rounded default">Default</button>
    <button class="mv-btn rounded info">Info</button>
    <button class="mv-btn rounded error">Error</button>
    <button class="mv-btn rounded success">Success</button>
    <button class="mv-btn rounded warning">Warning</button>
    <button class="mv-btn rounded muted">Muted</button>

    <h2>Radiais (.radius)</h2>

    <button class="mv-btn radius default">Default</button>
    <button class="mv-btn radius info">Info</button>
    <button class="mv-btn radius error">Error</button>
    <button class="mv-btn radius success">Success</button>
    <button class="mv-btn radius warning">Warning</button>
    <button class="mv-btn radius muted">Muted</button>

    <h2>Circulares(.circle)</h2>

    <button class="mv-btn circle default">
        <i class="fa fa-angle-down"></i>
    </button>
    <button class="mv-btn circle info">
        <i class="fa fa-facebook"></i>
    </button>
    <button class="mv-btn circle error">
        <i class="fa fa-youtube-play"></i>
    </button>
    <button class="mv-btn circle success">
        <i class="fa fa-check"></i>
    </button>
    <button class="mv-btn circle warning">
        <i class="fa fa-exclamation-triangle"></i>
    </button>
    <button class="mv-btn circle muted">
        <i class="fa fa-spinner fa-spin"></i>
    </button>
</section>


<section class="demo-section">
    <header>
        <h1>Component</h1>

        <p>Para uso interno na construção de componentes</p>
    </header>

    <button class="mv-btn component error">
        <i class="fa fa-times"></i>
    </button>
    <button class="mv-btn component success">
        <i class="fa fa-check"></i>
    </button>
    <button class="mv-btn component warning">
        <i class="fa fa-phone"></i>
    </button>

</section>

<section class="demo-section">
    <header>
        <h1>Disabled</h1>
    </header>

    <button disabled="disabled" class="mv-btn default">Default</button>
    <button disabled="disabled" class="mv-btn info">Info</button>
    <button disabled="disabled" class="mv-btn error">Error</button>
    <button disabled="disabled" class="mv-btn success">Success</button>
    <button disabled="disabled" class="mv-btn warning">Warning</button>
    <button disabled="disabled" class="mv-btn muted">Muted</button>
</section>

<section class="demo-section">
    <header>
        <h1>Angular</h1>
    </header>

    <h2>Tipos <small>data-border="circle | radius | rounded"</small></h2>
    <pre>&lt;button class=&quot;mv-btn&quot; data-border=&quot;circle&quot;&gt;i&lt;/button&gt;</pre>
    <button class="mv-btn" data-border="circle">i</button>


    <h2>Cor <small>data-color="default | info | success | error | warning | muted"</small></h2>
    <pre>&lt;button class=&quot;mv-btn&quot; data-color=&quot;info&quot;&gt;Info&lt;/button&gt;</pre>
    <button class="mv-btn" data-border="rounded" data-color="info">Info</button>


    <h2>Ícone <small>data-icon</small></h2>
    <pre>&lt;button class=&quot;mv-btn warning&quot; data-icon=&quot;pencil&quot;&gt;Editar&lt;/button&gt;</pre>
    <button class="mv-btn warning" data-icon="pencil">Editar</button>


</section>


<section class="demo-section">
    <header>
        <h1>Checkbox</h1>
    </header>

    <button class="mv-btn rounded default">Default</button>
    <button class="mv-btn rounded info">Info</button>
    <button class="mv-btn rounded error">Error</button>
    <button class="mv-btn rounded success">Success</button>
    <button class="mv-btn rounded warning">Warning</button>
    <button class="mv-btn rounded muted">Muted</button>
</section>

