<hr/>
{{status}}
  {{isOpen}}
<hr/>
<div class="mv-d">
  {{list}}
</div>
<ul class="list-inline">
  <li class="mv-dropdown">
    <button class="mv-btn default" type="button">
      MENU
    </button>
    <ul class="dropdown-menu">
      <li><button class="mv-btn link" href="#" ng-click="setStatus(3)">Item</button></li>
      <li><a ng-click="setStatus('sei la')" href="#">Item</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
    </ul>
  </li>
</ul>
<button ng-click="setStatus(3)">3</button>
<button ng-click="setStatus('sei la')">sei lá</button>
<button ng-click="setStatus('status')">Reset</button>

