<hr/>
{{status}}
  {{isOpen}}
<hr/>
<div class="mv-d">
  {{list}}
</div>
<ul class="list-inline">
  <li class="dropdown" ng-class="{open:isOpen}">
    <button class="mv-btn default" type="button" ng-click="isOpen=!isOpen">
      <i class="fa fa-ellipsis-v"></i>
    </button>
    <ul class="dropdown-menu">
      <li><a href="#" ng-click="setStatus(3)">Item</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
      <li><a href="#">Item</a></li>
    </ul>
  </li>
</ul>
<button ng-click="setStatus(3)">3</button>
<button ng-click="setStatus('sei la')">sei lá</button>
<button ng-click="setStatus('status')">Reset</button>

