<hr/>
{{status}}
<hr/>
<ul class="list-inline">
  <li ng-repeat="item in list" class="mv-dropdown">
      <button class="mv-btn default" type="button">
        {{item}}
      </button>
      <ul class="dropdown-menu">
        <li><a ng-click="setStatus(item)">{{item}}</a></li>
        <li><a ng-click="setStatus('vinte')">vinte</a></li>
        <li class="divider"></li>
        <li><a ng-click="setStatus(30)">30</a></li>
      </ul>
  </li>
</ul>
<button ng-click="setStatus(3)">3</button>
<button ng-click="setStatus('sei la')">sei lá</button>
<button ng-click="setStatus('status')">Reset</button>

