<h1>Tooltip</h1>

<section class="demo-section">
  <header>
    <h1>CSS
      <small>.tooltip</small>
    </h1>
  </header>
  <p>Acrescentando a classe <code>in</code> ele se torna visível</p>

  <div class="mv-row">
    <div class="mv-col sm-3">
      <div class="tooltip left in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .left
        </div>
      </div>
      <br/><br/><br/><br/>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip top in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .top
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip top-left in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .top-left
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip top-right in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .top-right
        </div>
      </div>
    </div>
  </div>

  <div class="mv-row">
    <div class="mv-col sm-3">
      <div class="tooltip right in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .right
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip bottom in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .bottom
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip bottom-left in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .bottom-left
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip bottom-right in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          .bottom-right
        </div>
      </div>
    </div>
  </div>

</section>

<section class="demo-section">
  <header>
    <h1>Posição
      <small>.mv-tooltip</small>
    </h1>
  </header>

  <div class="bs-example-tooltips">
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="left" title="Tooltip on left">
      Tooltip on left
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="top" title="Tooltip on top">
      Tooltip on top
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Tooltip on bottom">Tooltip on bottom
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="right" title="Tooltip on right">
      Tooltip on right
    </button>
  </div>

</section>
