<h1>Tooltip</h1>

<section class="demo-section">
  <header>
    <h1>CSS
      <small>.mv-tooltip</small>
    </h1>
  </header>
  <p>Apresenta um</p>

  <div class="mv-row">
    <div class="mv-col sm-3">
      <div class="tooltip left in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the left
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip top in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the top
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip bottom in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the bottom
        </div>
      </div>
    </div>
    <div class="mv-col sm-3">
      <div class="tooltip right in" role="tooltip">
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          Tooltip on the right
        </div>
      </div>
    </div>
  </div>

</section>

<section class="demo-section">
  <header>
    <h1>Posição
      <small>.mv-tooltip</small>
    </h1>
  </header>

  <div class="bs-example-tooltips">
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="left" title="Tooltip on left">
      Tooltip on left
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="top" title="Tooltip on top">
      Tooltip on top
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="bottom"
            title="Tooltip on bottom">Tooltip on bottom
    </button>
    <button type="button" class="btn btn-default"
            data-toggle="tooltip"
            data-placement="right" title="Tooltip on right">
      Tooltip on right
    </button>
  </div>

</section>
