<h1>Divisores</h1>


<section class="demo-section">
  <header>
    <h1>.divisor</h1>
    <p>Estiliza réguas horizontais</p>
  </header>

  <h2></h2>
  <pre>&lt;hr class=&quot;divisor&quot;/&gt;</pre>
  <hr class="divisor"/>
</section>

<section class="demo-section">
  <header>
    <h1>Tipos</h1>
  </header>

  <h2>Solid</h2>
  <pre>&lt;hr class=&quot;divisor solid&quot;/&gt;</pre>
  <hr class="divisor solid"/>

  <h2>Double</h2>
  <pre>&lt;hr class=&quot;divisor double&quot;/&gt;</pre>
  <hr class="divisor double"/>

  <h2>Dot</h2>
  <pre>&lt;hr class=&quot;divisor dot&quot;/&gt;</pre>
  <hr class="divisor dot"/>
</section>
