<h1>Formulário</h1>

<section class="demo-section">
  <header>
    <h1>Form
      <small>.mv-form</small>
    </h1>
  </header>

  <form class="mv-form mv-form-icon" name="mvf">

    <h2>mv-control-text</h2>

    <mv-control-text display="info" label="Info" icon="question-circle">
      <input type="text" name="version" id="mvf-version"
             ng-model="mvfData.version"/>
    </mv-control-text>

    <h2>mv-control-input</h2>

    <mv-control-input label="Text" icon="user">
      <input type="text" name="user" id="mvf-user"
             ng-model="mvfData.user"/>
    </mv-control-input>

    <mv-control-input label="E-mail" icon="envelope">
      <input type="email" name="email" id="mvf-email"
             ng-model="mvfData.email"/>
    </mv-control-input>

    <mv-control-input label="Password">
      <input type="password" name="pasword" id="mvf-password"
             ng-model="mvfData.password"/>
    </mv-control-input>

    <mv-control-input label="Number">
      <input type="number" name="number" id="mvf-number"
             ng-model="mvfData.number"/>
    </mv-control-input>

    <h2>mv-control-toggle</h2>

    <mv-control-toggle label="Toggle" default="false">
      <input type="checkbox" name="toggleName" id="mvf-toggle" checked
             ng-model="mvfData.active"/>
    </mv-control-toggle>

  </form>

  <p>==================</p>

  <!--<form class="mv-form mv-form-icon" novalidate>-->

    <!--<!--Info (Information)-->-->
    <!--<div class="mv-control mv-control-icon">-->
      <!--<mv-i icon="question-circle"></mv-i>-->
      <!--<label for="mvFormInfoName">Info</label>-->
      <!--<input type="text" name="toggleName" id="mvFormInfoName"-->
             <!--disabled-->
             <!--class="mv-control-info"-->
             <!--ng-model="mvFormData.textInfo"/>-->
    <!--</div>-->

    <!--<!--Text-->-->
    <!--<div class="mv-control mv-control-warning mv-control-icon">-->
      <!--<mv-i icon="user"></mv-i>-->
      <!--<label for="mvFormTextName">Text</label>-->
      <!--<input type="text" name="textName" id="mvFormTextName" value=""-->
             <!--class="mv-control-input"-->
             <!--placeholder="Value"-->
             <!--ng-model="mvFormData.textName"/>-->
    <!--</div>-->

    <!--<!--E-mail-->-->
    <!--<div class="mv-control mv-control-icon">-->
      <!--<mv-i icon="envelope"></mv-i>-->
      <!--<label for="mvFormEmailName">E-mail</label>-->
      <!--<input type="email" name="emailName" id="mvFormEmailName" value=""-->
             <!--class="mv-control-input"-->
             <!--placeholder="meuemail@dominio.com"-->
             <!--ng-model="mvFormData.textEmail"/>-->
    <!--</div>-->

    <!--<!--Password-->-->
    <!--<div class="mv-control">-->
      <!--<label for="mvFormPasswordName">Password</label>-->
      <!--<input type="password" name="passwordName" id="mvFormPasswordName" value=""-->
             <!--class="mv-control-input"-->
             <!--placeholder="****"-->
             <!--ng-model="mvFormData.textPassword"/>-->
    <!--</div>-->

    <!--<!--Range-->-->
    <!--<div class="mv-control">-->
      <!--<label for="mvFormRangeName">Range</label>-->
      <!--<input type="number" name="toggleName" id="mvFormRangeName" value="1"-->
             <!--class="mv-control-input"-->
             <!--ng-model="mvFormData.textRange"/>-->
    <!--</div>-->

    <!--<!--Toggle-->-->
    <!--<div class="mv-control mv-control-toggle mv-control-button">-->
      <!--<label for="mvFormToggleName">Toggle</label>-->

      <!--<div class="mv-control-value" ng-switch="mvFormData.textToggle">-->
        <!--<span ng-switch-when="0">Value Off</span>-->
        <!--<span ng-switch-when="1">Value On</span>-->
      <!--</div>-->
      <!--<input type="number" name="toggleName" id="mvFormToggleName" value="1"-->
             <!--class="mv-control-input"-->
             <!--ng-model="mvFormData.textToggle"/>-->

      <!--<div class="mv-control-button-area">-->
        <!--<button class="mv-btn" type="button"-->
                <!--ng-switch="mvFormData.textToggle">-->
          <!--<mv-i class="mv-btn-off" icon="toggle-off" ng-switch-when="0"></mv-i>-->
          <!--<mv-i class="mv-btn-on" icon="toggle-on" ng-switch-when="1"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
    <!--</div>-->


    <!--<!--Select-->-->
    <!--<div class="mv-control">-->
      <!--<label for="mvFormSelectName">Selecione sua cor favorita</label>-->
      <!--<select id="mvFormSelectName" name="selectName"-->
              <!--class="mv-control-select"-->
              <!--ng-model="mvFormData.selectName"-->
              <!--ng-options="color.name for color in colors">-->
      <!--</select>-->
    <!--</div>-->

    <!--<!--Check list-->-->
    <!--<div class="mv-control mv-control-checklist mv-control-button mv-control-icon mv-control-setup ">-->
      <!--<mv-i icon="question-circle"></mv-i>-->
      <!--<label>Check List</label>-->
      <!--<span class="mv-control-value">-->
        <!--{{mvFormData.textCheck}}-->
      <!--</span>-->

      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="angle-down"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<ul class="mv-control-setup-area mv-container-fluid" ng-show="true">-->
        <!--<li class="mv-row">-->
          <!--<div class="mv-col xs-10">Em pé</div>-->
          <!--<div class="mv-control-area mv-col xs-2">-->
            <!--<input type="checkbox" class="mv-control-checkbox"-->
                   <!--ng-model="mvFormData.textCheck.empe"/>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="mv-row">-->
          <!--<div class="mv-col xs-10">Sentado</div>-->
          <!--<div class="mv-control-area mv-col xs-2">-->
            <!--<input type="checkbox" class="mv-control-checkbox"-->
                   <!--ng-model="mvFormData.textCheck.sentado"/>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<!--Radio List -->-->
    <!--<div class="mv-control mv-control-radiolist mv-control-setup mv-control-button">-->
      <!--<label>Radio List</label>-->
      <!--<span class="mv-control-value">-->
        <!--{{mvFormData.textRadio}}-->
      <!--</span>-->
      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="angle-down"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<ul class="mv-control-setup-area mv-container-fluid" ng-show="true">-->
        <!--<li class="mv-row">-->
          <!--<div class="mv-col xs-10">Em pé</div>-->
          <!--<div class="mv-control-area mv-col xs-2">-->
            <!--<input type="radio" class="mv-control-radio" value="Em pé"-->
                   <!--ng-model="mvFormData.textRadio"/>-->
          <!--</div>-->
        <!--</li>-->
        <!--<li class="mv-row">-->
          <!--<div class="mv-col xs-10">Sentado</div>-->
          <!--<div class="mv-control-area mv-col xs-2">-->
            <!--<input type="radio" class="mv-control-radio" value="Sentado"-->
                   <!--ng-model="mvFormData.textRadio"/>-->
          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->

    <!--<!--File-->-->
    <!--<div class="mv-control mv-control-file mv-control-icon mv-control-button mv-control-setup">-->
      <!--<mv-i icon="camera-retro"></mv-i>-->
      <!--<label for="mvFormFileName">File</label>-->
      <!--<span class="mv-control-value">-->
        <!--{{mvFormData.fileName.file[0]}}-->
      <!--</span>-->
      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="paperclip"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="mv-control-setup-area" ng-show="true">-->
        <!--<div class="mv-control-file-area">-->
          <!--<input type="file" id="mvFormFileName" name="fileName"-->
                 <!--ng-model="mvFormData.fileName"/>-->
        <!--</div>-->
        <!--<div class="mv-control-file-upload-area">-->
          <!--<mv-i icon="cloud-upload"></mv-i>-->
          <!--Clique ou arraste seu arquivo-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<!--Date-->-->
    <!--<div class="mv-control mv-control-button mv-control-setup">-->
      <!--<label for="mvFormDateName">Date</label>-->
      <!--<input type="date" name="dateName" id="mvFormDateName" value=""-->
             <!--class="mv-control-input"-->
             <!--ng-model="mvFormData.textDate"/>-->
      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="calendar"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="mv-control-setup-area" ng-show="true">-->
        <!--calendário-->
      <!--</div>-->
    <!--</div>-->
    <!--</div>-->

    <!--<!--Time-->-->
    <!--<div class="mv-control mv-control-button mv-control-setup">-->
      <!--<label for="mvFormDatetimeName">Time</label>-->
      <!--<input type="datetime" name="datetimeName" id="mvFormDatetimeName" value=""-->
             <!--class="mv-control-input"-->
             <!--ng-model="mvFormData.textDateTime"/>-->
      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="clock-o"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="mv-control-setup-area" ng-show="true">-->
        <!--time selector-->
      <!--</div>-->
    <!--</div>-->

    <!--<!--Color-->-->
    <!--<div class="mv-control mv-control-button mv-control-setup">-->
      <!--<label for="mvFormColorName">Color</label>-->
      <!--<input type="text" name="colorName" id="mvFormColorName" value="f4450c"-->
             <!--class="mv-control-input"-->
             <!--ng-model="mvFormData.textColor"/>-->
      <!--<div class="mv-control-button-area">-->
        <!--<button type="button" class="mv-btn">-->
          <!--<mv-i icon="eyedropper"></mv-i>-->
        <!--</button>-->
      <!--</div>-->
      <!--<div class="mv-control-setup-area" ng-show="true">-->
        <!--color selector-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
</section>

