<h1>Formulário</h1>

<section class="demo-section">
  <header>
    <h1>Form
      <small>.mv-form</small>
    </h1>
  </header>

  <form class="mv-form" novalidate>
    <!--Text-->
    <div class="mv-control">
      <mv-i class="mv-control-icon" icon="user"></mv-i>
      <label for="mvFormTextName">Text</label>
      <input type="text" name="textName" id="mvFormTextName" value=""
             class="mv-control-input"
             placeholder="Value"
             ng-model="mvFormData.textName"/>
    </div>

    <!--E-mail-->
    <div class="mv-control">
      <label for="mvFormEmailName">E-mail</label>
      <input type="email" name="emailName" id="mvFormEmailName" value=""
             class="mv-control-input"
             placeholder="meuemail@dominio.com"
             ng-model="mvFormData.textEmail"/>
    </div>

    <!--Password-->
    <div class="mv-control">
      <label for="mvFormPasswordName">Password</label>
      <input type="password" name="passwordName" id="mvFormPasswordName" value=""
             class="mv-control-input"
             placeholder="****"
             ng-model="mvFormData.textPassword"/>
    </div>

    <!--Toggle-->
    <div class="mv-control">
      <label for="mvFormToggleName">Toggle</label>

      <div ng-switch="mvFormData.textToggle">
        <span ng-switch-when="0">Value Off</span>
        <span ng-switch-when="1">Value On</span>
      </div>
      <input type="text" name="toggleName" id="mvFormToggleName" value="1"
             ng-model="mvFormData.textToggle"/>
      <button type="button" ng-switch="mvFormData.textToggle">
        <mv-i icon="toggle-off" ng-switch-when="0"></mv-i>
        <mv-i icon="toggle-on" ng-switch-when="1"></mv-i>
      </button>
    </div>

    <!--Info (Information)-->
    <div class="mv-control">
      <label for="mvFormInfoName">Info</label>
      <input type="text" name="toggleName" id="mvFormInfoName"
             value="Some information"
             ng-model="mvFormData.textInfo"/>
      <button type="button">
        <mv-i icon="question-circle"></mv-i>
      </button>
    </div>


    <!--Range-->
    <label for="mvFormFileName">Range</label>
    <input type="number" name="toggleName" id="mvFormRangeName" value="1"
           ng-model="mvFormData.textRange"/>
    <button type="button">
      <mv-i icon="angle-down"></mv-i>
    </button>


    <!--Select-->
    <div class="mv-control">
      <label for="mvFormSelectName">Select</label>
      <span>{{mvFormData.selectName}}</span>
      <button type="button">
        <mv-i icon="angle-down"></mv-i>
      </button>
      <select name="selectName" id="mvFormSelectName"
              ng-model="mvFormData.selectName"
              ng-options="color.name for color in colors">
      </select>
    </div>

    <!--Checklist-->
    <div class="mv-control">
      <label>Checklist (Question)</label>
      <span>{{mvFormData.textInfo}}</span>
      <button type="button">
        <mv-i icon="angle-down"></mv-i>
      </button>
      <div class="mv-form-setup" ng-show="false">
        <dl>
          <dt>Check1</dt>
          <dd><input type="checkbox" name="checkName"/></dd>
          <dt>Check2</dt>
          <dd><input type="checkbox" name="checkName"/></dd>
        </dl>
      </div>
    </div>

    <!--Radio Group -->
    <div class="mv-control">
      <label>Radio Group</label>
      <span>{{mvFormData.textInfo}}</span>
      <button type="button">
        <mv-i icon="angle-down"></mv-i>
      </button>
      <div class="mv-form-setup" ng-show="false">
        <dl>
          <dt>Check1</dt>
          <dd><input type="checkbox" name="radioName"/></dd>
          <dt>Check2</dt>
          <dd><input type="checkbox" name="radioName"/></dd>
        </dl>
      </div>
    </div>

    <!--File-->
    <div class="mv-control">
      <label for="mvFormFileName">File</label>
      <button type="button">
        <mv-i icon="angle-down"></mv-i>
      </button>
      <div class="mv-form-setup mv-form-file-select"
           ng-show="true"
           ng-switch="mvFormData.FileName">
        <!--ng-switch-when="angular.isDefined(mvFormData.selectName)"-->
        <input type="file" name="fileName" id="mvFormFileName"
               ng-model="mvFormData.fileName"
               />
      </div>
    </div>

    <!--Date-->
    <div class="mv-control">
      <label for="mvFormDateName">Date</label>
      <input type="date" name="dateName" id="mvFormDateName" value=""
             ng-model="mvFormData.textDate"/>
      <button type="button">
        <mv-i icon="calendar"></mv-i>
      </button>
      <div class="mv-form-setup">
           <!--Calendário angular ui-->
      </div>
    </div>

    <!--Time-->
    <div class="mv-control">
      <label for="mvFormDatetimeName">Time</label>
      <input type="datetime" name="datetimeName" id="mvFormDatetimeName" value=""
             ng-model="mvFormData.textDateTime"/>
      <button type="button">
        <mv-i icon="clock-o"></mv-i>
      </button>
      <div class="mv-form-setup">
        <!--Time angular ui-->
      </div>
    </div>

    <!--Color-->
    <div class="mv-control">
      <label for="mvFormColorName">Color</label>
      <input type="color" name="colorName" id="mvFormColorName" value="#f4450c"
             ng-model="mvFormData.textColor"/>
      <button type="button">
        <mv-i icon="eyedropper"></mv-i>
      </button>
      <div class="mv-form-setup">
        <!--Time angular ui-->
      </div>
    </div>
  </form>
</section>

