<h1>
  Grid system
</h1>


<mv-container fluid="true">
  <mv-row>
    <mv-col size="{xs:4}">
      <div class="test-content">coluna</div>
    </mv-col>
    <mv-col size="{xs:4}">
      <div class="test-content">coluna</div>
    </mv-col>
    <mv-col size="{xs:4}">
      <div class="test-content">coluna</div>
    </mv-col>
  </mv-row>
  <mv-row>
    <mv-col size="{xs:4}">
      <div class="test-content">coluna</div>
    </mv-col>
    <mv-col size="{xs:8}">
      <mv-row>
        <mv-col size="{xs:4}">
          <div class="test-content">coluna</div>
        </mv-col>
        <mv-col size="{xs:4}">
          <div class="test-content">coluna</div>
        </mv-col>
        <mv-col size="{xs:4}">
          <div class="test-content">coluna</div>
        </mv-col>
      </mv-row>
    </mv-col>
  </mv-row>
</mv-container>



<mv-container fluid="true">
  <mv-row>
    <mv-col id="content" size="{sm:12,lg:4}" push="{lg:4}">
      <h2>Conteúdo</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </mv-col>
    <mv-col id="sidebarLeft" size="{sm:6,lg:4}" pull="{lg:4}">
      <h2>Esquerda</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing L
        orem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </mv-col>
    <mv-col id="sidebarRight" size="{sm:6,lg:4}">
      <h2>Direita</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </mv-col>
  </mv-row>
</mv-container>
<div class="container-fluid">
  <div class="mv-row">

    <div id="sidebar-right" class="mv-col lg-4 sm-6">

  </div>
</div>


<div class="container-fluid">
  <div class="mv-row">
    <div class="mv-col" data-size="{sm:12, lg:4, 'lg-push':4}">
      <h2>This is Content</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="mv-col" data-size="{sm:6, lg:4, 'lg-pull':4}">

      <h2>This is Left Sidebar</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
    <div class="mv-col" data-size="{sm:6, lg:4}">

      <h2>This is Right Sidebar</h2>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
  </div>
</div>

<hr/>

<div class="container-fluid">
  <div class="mv-row">
    <div class="mv-col" data-size="{sm:12, lg:4}" data-push="{lg:4}">
      <h2>This is Content</h2>

      <pre>data-size="{sm:12, lg:4}" data-push="{lg:4}"</pre>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    <div class="mv-col" data-size="{sm:6, lg:4}" data-pull="{lg:4}">

      <h2>This is Left Sidebar</h2>
      <pre>data-size="{sm:6, lg:4}" data-pull="{lg:4}</pre>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
    <div class="mv-col" data-size="{sm:6, lg:4}">

      <h2>This is Right Sidebar</h2>
      <pre>data-size="{sm:6, lg:4}</pre>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
        into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
        software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
  </div>
</div>
