<h1>Conjunto de Ícones</h1>

<section class="demo-section">
  <header>
    <h1>Ícone <small>.mv-icon</small></h1>
  </header>

  <h2>mv-icon <small>data-icon</small></h2>
  <pre>&lt;mv-i name=&quot;user&quot;&gt;&lt;mv-i/&gt;</pre>
  <mv-i name="user"></mv-i>

  <h2>Prefixo <small>data-prefix</small></h2>
  <pre>&lt;mv-i name=&quot;cog&quot; prefix=&quot;fac&quot;&gt;&lt;mv-i/&gt;</pre>
  <mv-i name="cog" prefix="fa"></mv-i>

</section>


<section class="demo-section">
    <header>
        <h1>Lista</h1>
    </header>
    <p>Incorporado ícones do projeto
      <a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_blank">
        FontAwesome 4.0.2.
        </a>
    </p>
</section>

  <mv-container fluid="true">
    {{icons}}
    <mv-row ng-repeat="icon in icons">
      <mv-col size="{xs:6, md:3}">
        <mv-i name="{{icon.name}}"></mv-i>
        <span>{{icon.name}}</span>
      </mv-col>
    </mv-row>
    <div class="" ng-if="0">
      Erro ao Carregar
    </div>
  </mv-container>


<!--
<div class="mv-row">

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    adjust
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    adn
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    align-center
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    align-justify
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    align-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    align-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ambulance
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    anchor
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    android
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angellist
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-double-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-double-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-double-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-double-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    angle-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    apple
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    archive
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    area-chart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-o-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-o-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-o-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-o-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-circle-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrow-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrows
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrows-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrows-h
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    arrows-v
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    asterisk
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    at
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    automobile
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    backward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ban
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bank
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bar-chart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bar-chart-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    barcode
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bars
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    beer
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    behance
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    behance-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bell
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bell-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bell-slash
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bell-slash-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bicycle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    binoculars
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    birthday-cake
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bitbucket
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bitbucket-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bitcoin
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bold
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bolt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bomb
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    book
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bookmark
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bookmark-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    briefcase
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    btc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bug
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    building
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    building-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bullhorn
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bullseye
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    bus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cab
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    calculator
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    calendar
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    calendar-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    camera
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    camera-retro
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    car
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-square-o-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-square-o-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-square-o-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-square-o-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    caret-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-amex
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-discover
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-mastercard
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-paypal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-stripe
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cc-visa
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    certificate
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chain
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chain-broken
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    check
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    check-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    check-circle-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    check-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    check-square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-circle-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-circle-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-circle-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-circle-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    chevron-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    child
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    circle-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    circle-o-notch
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    circle-thin
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    clipboard
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    clock-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    close
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cloud
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cloud-download
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cloud-upload
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cny
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    code
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    code-fork
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    codepen
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    coffee
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cog
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cogs
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    columns
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    comment
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    comment-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    comments
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    comments-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    compass
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    compress
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    copy
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    copyright
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    credit-card
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    crop
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    crosshairs
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    css3
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cube
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cubes
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cut
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    cutlery
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dashboard
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    database
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dedent
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    delicious
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    desktop
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    deviantart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    digg
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dollar
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dot-circle-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    download
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dribbble
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    dropbox
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    drupal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    edit
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eject
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ellipsis-h
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ellipsis-v
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    empire
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    envelope
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    envelope-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    envelope-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eraser
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eur
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    euro
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    exchange
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    exclamation
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    exclamation-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    exclamation-triangle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    expand
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    external-link
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    external-link-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eye
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eye-slash
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    eyedropper
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    facebook
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    facebook-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fast-backward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fast-forward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fax
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    female
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fighter-jet
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-archive-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-audio-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-code-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-excel-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-image-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-movie-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-pdf-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-photo-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-picture-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-powerpoint-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-sound-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-text
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-text-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-video-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-word-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    file-zip-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    files-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    film
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    filter
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fire
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    fire-extinguisher
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flag
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flag-checkered
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flag-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flash
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flask
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    flickr
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    floppy-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    folder
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    folder-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    folder-open
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    folder-open-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    font
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    forward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    foursquare
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    frown-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    futbol-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gamepad
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gavel
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gbp
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ge
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gear
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gears
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gift
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    git
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    git-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    github
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    github-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    github-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    gittip
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    glass
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    globe
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    google
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    google-plus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    google-plus-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    google-wallet
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    graduation-cap
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    group
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    h-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hacker-news
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hand-o-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hand-o-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hand-o-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hand-o-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hdd-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    header
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    headphones
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    heart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    heart-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    history
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    home
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    hospital-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    html5
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ils
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    image
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    inbox
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    indent
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    info
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    info-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    inr
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    instagram
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    institution
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ioxhost
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    italic
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    joomla
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    jpy
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    jsfiddle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    key
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    keyboard-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    krw
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    language
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    laptop
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    lastfm
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    lastfm-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    leaf
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    legal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    lemon-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    level-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    level-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    life-bouy
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    life-buoy
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    life-ring
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    life-saver
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    lightbulb-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    line-chart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    link
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    linkedin
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    linkedin-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    linux
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    list
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    list-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    list-ol
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    list-ul
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    location-arrow
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    lock
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    long-arrow-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    long-arrow-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    long-arrow-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    long-arrow-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    magic
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    magnet
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mail-forward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mail-reply
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mail-reply-all
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    male
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    map-marker
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    maxcdn
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    meanpath
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    medkit
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    meh-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    microphone
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    microphone-slash
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    minus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    minus-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    minus-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    minus-square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mobile
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mobile-phone
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    money
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    moon-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    mortar-board
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    music
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    navicon
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    newspaper-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    openid
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    outdent
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pagelines
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paint-brush
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paper-plane
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paper-plane-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paperclip
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paragraph
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paste
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pause
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paw
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    paypal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pencil
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pencil-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pencil-square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    phone
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    phone-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    photo
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    picture-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pie-chart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pied-piper
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pied-piper-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pinterest
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    pinterest-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plane
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    play
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    play-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    play-circle-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plug
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plus-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plus-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    plus-square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    power-off
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    print
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    puzzle-piece
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    qq
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    qrcode
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    question
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    question-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    quote-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    quote-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ra
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    random
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rebel
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    recycle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    reddit
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    reddit-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    refresh
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    remove
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    renren
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    reorder
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    repeat
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    reply
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    reply-all
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    retweet
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rmb
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    road
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rocket
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rotate-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rotate-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rouble
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rss
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rss-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rub
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ruble
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    rupee
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    save
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    scissors
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    search
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    search-minus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    search-plus
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    send
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    send-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    share
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    share-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    share-alt-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    share-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    share-square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    shekel
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sheqel
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    shield
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    shopping-cart
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sign-in
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sign-out
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    signal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sitemap
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    skype
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    slack
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sliders
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    slideshare
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    smile-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    soccer-ball-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-alpha-asc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-alpha-desc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-amount-asc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-amount-desc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-asc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-desc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-numeric-asc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-numeric-desc
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sort-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    soundcloud
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    space-shuttle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    spinner
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    spoon
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    spotify
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    square-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stack-exchange
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stack-overflow
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star-half
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star-half-empty
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star-half-full
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star-half-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    star-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    steam
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    steam-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    step-backward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    step-forward
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stethoscope
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stop
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    strikethrough
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stumbleupon
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    stumbleupon-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    subscript
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    suitcase
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    sun-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    superscript
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    support
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    table
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tablet
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tachometer
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tag
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tags
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tasks
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    taxi
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tencent-weibo
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    terminal
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    text-height
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    text-width
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    th
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    th-large
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    th-list
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    thumb-tack
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    thumbs-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    thumbs-o-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    thumbs-o-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    thumbs-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    ticket
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    times
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    times-circle
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    times-circle-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tint
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-left
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-off
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-on
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-right
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    toggle-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    trash
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    trash-o
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tree
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    trello
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    trophy
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    truck
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    try
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tty
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tumblr
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    tumblr-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    turkish-lira
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    twitch
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    twitter
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    twitter-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    umbrella
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    underline
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    undo
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    university
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    unlink
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    unlock
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    unlock-alt
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    unsorted
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    upload
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    usd
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    user
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    user-md
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    users
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    video-camera
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    vimeo-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    vine
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    vk
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    volume-down
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    volume-off
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    volume-up
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    warning
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    wechat
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    weibo
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    weixin
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    wheelchair
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    wifi
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    windows
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    won
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    wordpress
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    wrench
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    xing
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    xing-square
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    yahoo
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    yelp
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    yen
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    youtube
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    youtube-play
</div>

<div class="mv-col md-4 sm-6 lg-3">
    <i class="fa fa-fw"></i>
    youtube-square
</div>

</div>
-->
