<h1>Conjunto de Ícones</h1>

<section class="demo-section">
  <header>
    <h1>Ícone
      <small>.mv-icon</small>
    </h1>
  </header>

  <h2>mv-icon
    <small>data-icon</small>
  </h2>
  <pre>&lt;mv-i name=&quot;user&quot;&gt;&lt;mv-i/&gt;</pre>
  <mv-i name="user"></mv-i>

  <h2>Prefixo
    <small>data-prefix</small>
  </h2>
  <pre>&lt;mv-i name=&quot;cog&quot; prefix=&quot;fac&quot;&gt;&lt;mv-i/&gt;</pre>
  <mv-i name="cog" prefix="fa"></mv-i>

</section>


<section class="demo-section">
  <header>
    <h1>Lista</h1>
  </header>
  <p>Incorporado ícones do projeto
    <a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_blank">
      FontAwesome 4.0.2.
    </a>
  </p>
</section>
<form action="">

  <mv-input label="Pesquisar" id="mvf-criterio" name="criterio" icon="search"
            placeholder="Qual item você gostaria de ver?"
            ng-model="criterio"></mv-input>
</form>
<mv-container fluid="true">
  <mv-row>
    <mv-col size="{xs:6, md:3}" ng-repeat="icon in icons | filter: criterio">
      <mv-i name="{{icon.id}}"></mv-i>
      <span>{{icon.name}}</span>
    </mv-col>
  </mv-row>
  <div class="" ng-if="0">
    Erro ao Carregar
  </div>
</mv-container>
