<h1>Switch</h1>

<section class="demo-section">
  <header>
    <h1>Análise</h1>
  </header>
  <p>O componente interruptor (switch) é utilizado quando há necessidade de alternar um conteúdo através de um menu
    pré-estabelecido. Dependendo do comportamento ela possui um visual diferente. Por exemplo: Se adicionarmos o
    comportamento <code>Tab</code> ele atuará com Abas, se colocar <code>List</code> ele atuara como uma lista ou
    tera um efeito acordeão.</p>
</section>

<section class="demo-section">
  <header>
    <h1>Tab
      <small>.mv-tab-container</small>
    </h1>
  </header>

  <section class="mv-switch tab" data-behavior="tab">
    <nav class="mv-switch-nav">
      <ul class="mv-switch-menu">
        <li><a href="#">Aba 1</a></li>
        <li><a href="#">Aba 2</a></li>
        <li><a href="#">Aba 3</a></li>
        <li><a href="#">Aba 4</a></li>
      </ul>
    </nav>
    <ul class="mv-switch-list">
      <li class="mv-switch-item active">
        Conteúdo 1
      </li>
      <li class="mv-switch-item">
        Conteúdo 2
      </li>
      <li class="mv-switch-item">
        Conteúdo 3
      </li>
    </ul>
  </section>

</section>
