<h1>Switch</h1>

<section class="demo-section">
  <header>
    <h1>Tab <small>.mv-tab-container</small></h1>
  </header>

  <section class="mv-panel tab" data-behavior="tab">
    <nav class="mv-panel-nav">
      <ul class="mv-panel-menu">
        <li><a href="#">Aba 1</a></li>
        <li><a href="#">Aba 2</a></li>
        <li><a href="#">Aba 3</a></li>
        <li><a href="#">Aba 4</a></li>
      </ul>
    </nav>
    <ul class="mv-panel-list">
      <li class="mv-panel-item active">
        Conteúdo 1
      </li>
      <li class="mv-panel-item">
        Conteúdo 2
      </li>
      <li class="mv-panel-item">
        Conteúdo 3
      </li>
    </ul>
  </section>

</section>
