<h1>Tabelas</h1>

<section class="demo-section">
  <header>
    <h1>
      mv-table
      <small>[restrict: (A)]</small>
    </h1>
    <p>Estilização padrão de tabelas</p>
  </header>

  <h2>Atributos</h2>

  <ul>
    <li>
      <h3>bordered</h3>
      <p>Adiciona uma borda fina para transformar em quadro.</p>
    </li>
    <li>
      <h3>condensed</h3>
      <p>Uma tabela mais estreita</p>
    </li>
    <li>
      <h3>hover</h3>
      <p>Adicona efeito ao passar o cursor sobre a linha.</p>
    </li>
    <li>
      <h3>responsive</h3>
      <p>Uma camada que permite visualizar a tabela por completa em dispositivos móveis</p>
    </li>
    <li>
      <h3>striped</h3>
      <p>Uma camada que permite visualizar a tabela por completa em dispositivos móveis</p>
    </li>
  </ul>

  <table mv-table
         data-normal>
    <caption>Optional table caption.</caption>
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="demo-section">
  <header>
    <h1>.mv-table-striped</h1>
    <p>Adiciona linhas</p>
  </header>

  <table class="mv-table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="demo-section">
  <header>
    <h1>.mv-table-bordered</h1>
    <p>Adiciona uma borda fina para transformar em quadro.</p>
  </header>

  <table class="mv-table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td rowspan="2">1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@TwBootstrap</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="demo-section">
  <header>
    <h1>.mv-table-hover</h1>
    <p>Adicona efeito ao passar o cursor sobre a linha.</p>
  </header>

  <table class="mv-table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="demo-section">
  <header>
    <h1>.mv-table-condensed</h1>
    <p>Uma tabela mais estreita</p>
  </header>

  <table class="mv-table table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
</section>

<section class="demo-section">
  <header>
    <h1>.mv-table-responsive</h1>
    <p>Uma camada que permite visualizar a tabela por completa em dispositivos móveis</p>
  </header>

  <div class="table-responsive">
    <table class="mv-table">
      <thead>
      <tr>
        <th>#</th>
        <th>Table heading</th>
        <th>Table heading</th>
        <th>Table heading</th>
        <th>Table heading</th>
        <th>Table heading</th>
        <th>Table heading</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <td>2</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
        <td>Table cell</td>
      </tr>
      </tbody>
    </table>
  </div><!-- /.mv-table-responsive -->
</section>



<section class="demo-section">
  <header>
    <h1>
      Estado
      <small>[.active; .success; .info; .warning; .error]</small>
    </h1>
    <p>Vários destaques para as linhas</p>
  </header>

  <table class="mv-table table-condensed">
    <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
    </thead>
    <tbody>
    <tr class="active">
      <td>1</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr class="success">
      <td>2</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr class="info">
      <td>3</td>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    <tr class="warning">
      <td>4</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr class="error">
      <td>5</td>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    </tbody>
  </table>
</section>
