
/**
 * Control (Inputs)
 * ======================================================================== */

.mv-control {
  display: block;
  position: relative;
  min-height: 4rem;
  padding: 0 .5rem .5rem .5em;
  margin-bottom: .4rem;
  background-color: #fbfbfb;

  label {
    display: block;
    min-height: 2rem;
    line-height: 1.5rem;
    padding-top: .5rem;
    font-weight: bold;
    color: $color-info;
  }

  &.mv-control-button {
    //    padding-right: 4.5rem;
  }

  input,
  select,
  textarea {
    outline: none;
  }

}

/**
 * Control: Types
 * ------------------------------------------------------------------------ */
.mv-control.mv-control-icon {
  padding-left: 4.5rem;
}

.mv-control-button {
  .mv-control-button-area {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    min-width: 4rem;
    font-size: 1.5rem;

    .mv-btn {
      float: left;
      display: block;
      height: 4rem;
      min-width: 4rem;
      background-color: transparent;
      border: none;
    }
  }

}

.mv-control-setup {
  .mv-control-setup-area {
    display: none;
    padding: 1rem .5rem;
    border-top: .2rem solid $color-light-alt;
    background-color: $color-white;

    &.open{
      display: block;
    }
  }
}

.mv-control-range {
  @extend .mv-control-button;

  .mv-control-button-area {
    .mv-btn {
      height: 2.2rem;
    }
    .mv-btn:nth-child(2) {
      border-top: none
    }
  }
}

/**
 * Control: Components
 * ------------------------------------------------------------------------ */

.mv-control-icon > .mv-icon {
  position: absolute;
  left: 0;
  width: 4rem;
  height: 100%;
  line-height: 4.2rem;
  font-size: 1.5rem;
  text-align: center;
  background-color: $color-light-alt;
}

.mv-control-value {
  display: block;
  min-height: 2rem;
  line-height: 2rem;
  color:$color-bright;
}

input.mv-control-input{
  background-color: transparent;
}

.mv-control-input {
  display: block;
  width: 100%;
  min-height: 2rem;
  line-height: 2rem;
  border-width: 0 0 .2rem 0;
  border-style: solid;
  border-color: $color-light;
}

.mv-control-select {
  @extend .mv-control-input;
  .mv-control-setup-area {
    select {

    }
  }
}

.mv-control-info {
  @extend .mv-control-input;
  border-width: 0;
  color: $color-gray;
}

.mv-control-toggle {
  input {
    display: none;
  }

  .mv-btn-on {
    color: $color-success;
  }
  .mv-btn-off {
    color: $color-light;
  }
}

.mv-control-area{
  text-align: center;
}

.mv-control-checklist,
.mv-control-radiogroup{
  .mv-control-setup-area{
    ul{
      position: relative;
      list-style: none;
      padding: 0;

    }
    li{
      display: block;
      overflow: hidden;
      padding: .5rem 0;
    }
    li:hover{
      background-color: $color-light;
    }
    li .mv-icon{
      font-size: 1.5rem;
    }
    label, input{
      padding: 0;
      line-height: 2rem;
    }
  }
}

.mv-control-file{
  .mv-control-file-area{
    text-align: center;
    padding: .5rem .5rem 1.5rem .5rem;
  }
  .mv-control-file-upload-area{
    text-align: center;
    padding: 2rem .5rem;
    border-top: 1px solid $color-light;
  }
  .mv-control-file-button{
    display: block;
    width: 100%;
  }
}

/**
 * Control: Colors
 * ------------------------------------------------------------------------ */

.mv-control-warning {
  .mv-icon {
    color: $color-white;
    background-color: $color-warning;
  }
  .mv-control-input {
    border-color: $color-warning;
  }
}


/**
 * Control: Messages
 * ------------------------------------------------------------------------ */

.mv-control-messages{
  border-top: .01em solid $color-light-alt;

  ul{
    padding: 0;
    margin-bottom: 0;
  }
  li{
    display: block;
    list-style-type: none;
    line-height: 1.5rem;

    .mv-icon{
      color: inherit;
      line-height: inherit;
    }
  }
}
