/**
 * Form
 * ======================================================================== */

.mv-form {
  overflow: hidden;

  .mv-btn,
  .mv-btn:hover {
    outline: none;
  }

  &.mv-form-icon .mv-control{
    padding-left: 4.5rem;
  }
}
