<i mv-icon name="{{icon}}" ng-if="enableIcon"></i>
<label>{{label}}</label>
<span class="mv-control-value">
  <strong ng-show="showValue">{{listValue}}</strong>
</span>
<div class="mv-control-button-area">
  <button mv-btn type="button"
          ng-switch="setupArea"
          ng-click="toggleSetupArea($event)">
    <i mv-icon name="angle-down" ng-switch-when="false"></i>
    <i mv-icon name="angle-up" ng-switch-when="true"></i>
  </button>
</div>
<mv-container class="mv-control-setup-area" ng-class="{open:setupArea}">
  <mv-row ng-repeat="item in options">
    <mv-col size="{xs:10}">
      <label for="{{id}}-{{$index}}">{{item.label}}</label>
    </mv-col>
    <mv-col size="{xs:2}" class="mv-control-area">
      <input type="checkbox" class="mv-control-checkbox" id="{{id}}-{{$index}}"
             ng-click="selectItem($event,$index,item)">
    </mv-col>
  </mv-row>
</mv-container>
<div ng-transclude></div>

