<i mv-icon name="{{icon}}" ng-if="enableIcon"></i>
<label>{{label}}</label>
<span class="mv-control-value" ng-switch="inlineMode">
  Toolbar:
  <span ng-switch-when="true">off</span>
  <span ng-switch-when="false">on</span>
</span>
<div class="mv-control-button-area">
  <button mv-btn type="button" ng-class="{'active': !inlineMode}"
          ng-click="toogleToolbarMode($event)">
    <i class="mv-icon fa fa-wrench"></i>
  </button>
  <button mv-btn type="button" ng-class="{'active': setupArea}"
          ng-click="toggleSetupArea($event)">
    <i class="mv-icon fa fa-{{btnIcon}}"></i>
  </button>
</div>
<div class="mv-control-setup-area" ng-show="setupArea">
  <textarea froala="froalaOptions" ng-model="ngModel"></textarea>
</div>
