<i mv-icon ng-if="enableIcon" name="{{icon}}"></i>
<label>{{label}}</label>

<div class="mv-control-value" ng-switch="ngModel">
  <span ng-switch-when="false">{{off}}</span>
  <span ng-switch-when="true">{{on}}</span>
</div>
<div ng-transclude>

</div>
<div class="mv-control-button-area">
  <button class="mv-btn" type="button"
          ng-switch="ngModel"
          ng-click="toggleValue($event)">
    <i mv-icon class="mv-btn-off" name="toggle-off" ng-switch-when="false"></i>
    <i mv-icon class="mv-btn-on" name="toggle-on" ng-switch-when="true"></i>
  </button>
</div>
