//gera font-face

/**
 * @url Url da Fonte
 * @font-family Nome da família de fonte
 * @font-map Mapa do tipo (whight: nomeArquivo)
 */
@mixin font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style) {

  @font-face {
    font-family: '#{$font-family}';
    src:  url('#{$url}#{$base-filename}-webfont.eot');
    src:  url('#{$url}#{$base-filename}-webfont.eot?#iefix') format('embedded-opentype'),
          url('#{$url}#{$base-filename}-webfont.woff') format('woff'),
          url('#{$url}#{$base-filename}-webfont.ttf') format('truetype'),
          url('#{$url}#{$base-filename}-webfont.svg#robotoblack') format('svg');
    font-weight: $font-weight;
    font-style: $font-style;
  }

}
