<mv-i ng-if="enableIcon" name="{{icon}}"></mv-i>
<label>{{label}}</label>
<span class="mv-control-value">
  <strong ng-show="showValue">{{ngModel}}</strong>
</span>
<div class="mv-control-button-area">
  <button class="mv-btn" type="button"
          ng-switch="setup"
          ng-click="setupToggle($event)">
    <mv-i name="angle-down" ng-switch-when="false"></mv-i>
    <mv-i name="angle-up" ng-switch-when="true"></mv-i>
  </button>
</div>
<mv-container class="mv-control-setup-area" ng-class="{open:setup}">
  <mv-row ng-repeat="item in options">
    <mv-col size="{xs:10}">
      <label for="{{id}}-{{$index}}">{{item.label}}</label>
    </mv-col>
    <mv-col size="{xs:2}" class="mv-control-area">
      <input type="checkbox" class="mv-control-checkbox" id="{{id}}-{{$index}}"
             ng-click="select($index,item,$event)"/>
    </mv-col>
  </mv-row>
</mv-container>

