<mv-i ng-if="enableIcon" icon="{{icon}}"></mv-i>
<label>{{label}}</label>
<span class="mv-control-value">
  <strong  ng-show="showValue">{{value}}</strong>
</span>
<div class="mv-control-button-area">
  <button type="button" class="mv-btn"
          ng-click="setupToggle($event)">
    <mv-i icon="{{btnIcon}}"></mv-i>
  </button>
</div>
<div class="mv-control-setup-area" ng-class="{open:setup}">
  <ul>
    <li ng-if="files.length>0" ng-repeat="file in files">
      {{file.name}}
    </li>
  </ul>
  <div class="mv-control-file-area">
    <input type="file" name="fileName"/>
  </div>
  <button class="mv-btn mv-control-file-button" type="button" ng-click="upload($event)">
    <mv-i icon="cloud-upload"></mv-i> Upload
  </button>
</div>
