<mv-i ng-if="enableIcon" icon="{{icon}}"></mv-i>
<label>{{label}}</label>
<span class="mv-control-value">
  <strong  ng-show="showValue">{{value}}</strong>
</span>
<div class="mv-control-button-area">
  <button type="button" class="mv-btn"
          ng-click="setupToggle($event)">
    <mv-i icon="{{btnIcon}}"></mv-i>
  </button>
</div>
<div class="mv-control-setup-area" ng-class="{open:setup}">
  <div class="mv-control-file-area">
    <input type="file" name="fileName"/>
  </div>
  <div class="mv-control-file-upload-area">
    <mv-i icon="cloud-upload"></mv-i>
    Clique ou arraste seu arquivo

    <pre>{{files}}</pre>
  </div>
</div>
