$font-family: 'Roboto';
$url: '../fonts/roboto/';

//== Roboto
$base-filename: 'Roboto';

/*
//Roboto-Black
$font-weight : '900';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-BlackItalic
$font-weight : '900';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-Bold
$font-weight : '700';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-BoldItalic
$font-weight : '700';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-Medium
$font-weight : '500';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-MediumItalic
$font-weight : '500';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);
*/
//Roboto-Regular
$font-weight : '400';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-Italic
$font-weight : '400';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-Light
$font-weight : '300';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-LightItalic
$font-weight : '300';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

/*
//Roboto-Thin
$font-weight : '100';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//Roboto-ThinItalic
$font-weight : '100';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);
*/

//== Roboto Condensed
$base-filename: 'Roboto Condesed';

/*
//RobotoCondensed-Bold
$font-weight : '700';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//RobotoCondensed-BoldItalic
$font-weight : '700';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//RobotoCondensed-Italic
$font-weight : '400';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//RobotoCondensed-Light
$font-weight : '300';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//RobotoCondensed-LightItalic
$font-weight : '300';
$font-style : 'italic';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);

//RobotoCondensed-Regular
$font-weight : '400';
$font-style : 'normal';
@include font-face-generator($font-family, $url, $base-filename, $font-weight, $font-style);
*/