/**
 * Divisores
 */
a{}
hr{
  @include divider();
}

.divisor{

  clear: both;

  &.solid{
    border-style: solid;
  }

  &.double{
    border-width: 1px 0 1px 0;
    height: 2px;
    border-style: solid;
  }

  &.dot{
    border-style: dotted;
  }
}
