/**
 * Divisores
 */
a{}
hr{
  display: block;
  height: 1px;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: $color-light;
}

.divisor{

  clear: both;

  &.solid{
    border-style: solid;
  }

  &.double{
    border-width: 1px 0 1px 0;
    height: 2px;
    border-style: solid;
  }

  &.dot{
    border-style: dotted;
  }
}
