<h1>Botões</h1>

<section class="demo-section">
  <header>
    <h1>
      mv-btn
      <small>[restrict: (A)]</small>
    </h1>

  </header>
  <p>Pode ser utilizado tanto como atributo <code>mv-btn</code> como classe <code>.mv-btn</code>. Recomenda-se utilizar
    com o elemento <code>button</code>. Veja o exemplo abaixo:</p>
  <pre>&lt;button mv-btn&gt;Default&lt;/button&gt;</pre>
</section>

<section class="demo-section">
  <header>
    <h1>
      Cor
      <small>data-color</small>
    </h1>
  </header>
  <p>Para cada estado existe um botão respectivo. Basta adicionar a classe com nome na cor.</p>

  <p>Ao utilizar o atributo <code>color</code></p>

  <table class="mv-table">
    <thead>
    <tr>
      <th>Componente</th>
      <th>Cor</th>
      <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <button mv-btn>Default</button>
      </td>
      <td>default</td>
      <td>Botão padrão</td>
    </tr>
    <tr>
      <td>
        <button mv-btn data-color="info">Info</button>
      </td>
      <td>info</td>
      <td>Botão de informações</td>
    </tr>
    <tr>
      <td>
        <button mv-btn data-color="error">Error</button>
      </td>
      <td>error</td>
      <td>Botão de operações realizadas com erros</td>
    </tr>
    <tr>
      <td>
        <button mv-btn data-color="success">Success</button>
      </td>
      <td>success</td>
      <td>Botão de operações realizadas com sucesso</td>
    </tr>
    <tr>
      <td>
        <button mv-btn data-color="warning">Warning</button>
      </td>
      <td>warning</td>
      <td>Botão de atenção</td>
    </tr>
    <tr>
      <td>
        <button mv-btn data-color="muted">Muted</button>
      </td>
      <td>muted</td>
      <td>Botão desativado</td>
    </tr>
    </tbody>
  </table>
</section>


<section class="demo-section">
  <header>
    <h1>Ícones</h1>
  </header>

  <button mv-btn>
    <i mv-icon name="globe"></i> Default
  </button>
</section>

<section class="demo-section">
  <header>
    <h1>Bordas</h1>
  </header>

  <h2>Arredondadas(.rounded)</h2>

  <button mv-btn border="rounded">Default</button>
  <button mv-btn border="rounded" class="info">Info</button>
  <button mv-btn border="rounded" class="error">Error</button>
  <button mv-btn border="rounded" class="success">Success</button>
  <button mv-btn border="rounded" class="warning">Warning</button>
  <button mv-btn border="rounded" class="muted">Muted</button>

  <h2>Radiais (.radius)</h2>

  <button mv-btn border="radius">Default</button>
  <button mv-btn border="radius" class="info">Info</button>
  <button mv-btn border="radius" class="error">Error</button>
  <button mv-btn border="radius" class="success">Success</button>
  <button mv-btn border="radius" class="warning">Warning</button>
  <button mv-btn border="radius" class="muted">Muted</button>

  <h2>Circulares(.circle)</h2>

  <button mv-btn border="circle">
    <i mv-icon name="angle-down"></i>
  </button>
  <button mv-btn border="circle" class="info">
    <i mv-icon name="facebook"></i>
  </button>
  <button mv-btn border="circle" class="error">
    <i mv-icon name="youtube-play"></i>
  </button>
  <button mv-btn border="circle" class="success">
    <i mv-icon name="check"></i>
  </button>
  <button mv-btn border="circle" class="warning">
    <i mv-icon name="exclamation-triangle"></i>
  </button>
  <button mv-btn border="circle" class="muted">
    <i mv-icon name="spinner" spin></i>
  </button>
</section>


<section class="demo-section">
  <header>
    <h1>Component</h1>

    <p>Indica que é um botão que está sendo utilizado em um componente como <code>mv-list</code> ou notificações do
      sistema.</p>
  </header>

  <button mv-btn component color="error">
    <i mv-icon name="times"></i>
  </button>
  <button mv-btn component color="success">
    <i mv-icon name="check"></i>
  </button>
  <button mv-btn component color="warning">
    <i mv-icon name="phone"></i>
  </button>
</section>


<section class="demo-section">
  <header>
    <h1>Disabled</h1>
  </header>

  <button mv-btn disabled>Default</button>
  <button mv-btn disabled color="info">Info</button>
  <button mv-btn disabled color="error">Error</button>
  <button mv-btn disabled color="success">Success</button>
  <button mv-btn disabled color="warning">Warning</button>
  <button mv-btn disabled color="muted">Muted</button>
</section>


<section class="demo-section">
  <header>
    <h1>Agrupamento</h1>

    <p>Agrupa botões.
      Importado de <a href="http://getbootstrap.com/components/button.html#btn-groups" target="_blank">Bootstrap 3</a>
      e adaptado para AngularJS</p>
  </header>

  <h2>Horizontal
    <small>.mv-btn-group</small>
  </h2>
    <pre>&lt;div class=&quot;mv-btn-group&quot;&gt;
    &lt;button class=&quot;mv-btn&quot;&gt;Item 1&lt;/button&gt;
    &lt;button class=&quot;mv-btn&quot;&gt;Item 2&lt;/button&gt;
    &lt;button class=&quot;mv-btn&quot;&gt;Item 3&lt;/button&gt;
&lt;/div&gt;</pre>

  <div class="mv-btn-group">
    <button mv-btn>Item 1</button>
    <button mv-btn>Item 2</button>
    <button mv-btn>Item 3</button>
  </div>

  <h2>Vertical
    <small>.mv-btn-group-vertical</small>
  </h2>

  <div class="mv-btn-group-vertical">
    <button mv-btn>Item 1</button>
    <button mv-btn>Item 2</button>
    <button mv-btn>Item 3</button>
  </div>
</section>


<section class="demo-section">
  <header>
    <h1>Radio</h1>
  </header>
  <strong>Número da sala: <code>{{numSala}}</code></strong> <br/>

  <div class="mv-btn-group">
    <button class="mv-btn-radio default" value="1" ng-model="numSala">Item 1</button>
    <button class="mv-btn-radio default" value="2" ng-model="numSala">Item 2</button>
    <button class="mv-btn-radio info" value="3" ng-model="numSala">Item 3</button>
  </div>
</section>


<!--



<section class="demo-section">
  <header>
    <h1>Checkbox</h1>
  </header>
  <strong>Blastoise!!! <code>{{blastoise}}</code></strong> <br/>

  <div class="mv-btn-group">
    <button class="mv-btn-checkbox default" ng-model="blastoise">Blastoise</button>
  </div>
</section>

-->
