<h1>Editor</h1>

<!--Info (Information)-->
<section class="demo-section">
  <header>
    <h1>floala
      <small>[restrict: (A)]</small>
    </h1>
    <p>Por padrão o editor WYSIWYG Floala está instalado. Entretanto o ideal para utilização é conforme as
      especificações do projeto <strong>angular-floala</strong>.</p>
  </header>

  <textarea froala="froalaOptions" ng-model="textHtml"></textarea>

  <pre>&lt;textarea froala=&quot;froalaOptions&quot; ng-model=&quot;textHtml&quot;&gt;&lt;/textarea&gt;</pre>
</section>

