<h1>Formulário</h1>

<section class="demo-section">
  <header>
    <h1>
      mv-form
      <small>[restrict: (A)]</small>
    </h1>
    Estilização padrão de formulários
  </header>

  <h2>Atributos</h2>
  <p>Além de se comportar como uma diretiva de formulário do AngularJS ele pode ser customizado:</p>

  <ul>
    <li>
      <h3>align-icon</h3>
      <p>Alinha todos os controles disponibilizando espaço para o ícones</p>
    </li>
  </ul>
  <pre>&lt;form mv-form name=&quot;myForm&quot; data-align-icon&gt;
  Conte&uacute;do do formul&aacute;rio
&lt;/form&gt;</pre>

</section>

<section class="demo-section">
  <header>
    <h1>.mv-form-icon</h1>
    <p>Alinha todos os controles onde coloca um espaço para ícones.</p>
  </header>

</section>

