<h1>Formulário</h1>

<form class="mv-form mv-form-icon" name="mvf">

  <!--Info (Information)-->
  <section class="demo-section">
    <header>
      <h1>mv-control-info
        <small>[restrict: (A)]</small>
      </h1>
    </header>

    <div mv-control-info icon="question-circle" label="Info" ng-model="mvfData.version">
    </div>

  </section>


  <section class="demo-section">
    <header>
      <h1>mv-control-input
        <small>[restrict: (A)]</small>
      </h1>
    </header>

    <!--Text-->
    <div mv-control-input label="text">
      <input type="text" name="textName" id="mvFormTextName" value="" placeholder="Value"
             ng-model="mvfData.user"/>
    </div>
    <code>mvfData.user: {{mvfData.user}}</code>

    <!--E-mail-->
    <div mv-control-input label="E-mail">
      <input type="email" name="emailName" id="mvFormEmailName" value=""
             placeholder="meuemail@dominio.com"
             ng-model="mvfData.email"/>

      <div class="mv-control-messages text-error">
        <ul mv-icon-list ng-messages="mvf.emailName">
          <li ng-message="$invalid">
            <i mv-icon mv-icon-item name="bell-o"></i>
            Formato de e-mail inválido
          </li>
        </ul>
      </div>
    </div>
    <code>E-mail: {{mvfData.email}}</code>


    <!--Password-->
    <div mv-control-input label="Senha">
      <input type="password" name="passwordName" id="mvFormPasswordName" value="" placeholder="****"
             ng-model="mvfData.password"/>
    </div>
    <code>Password: {{mvfData.password}}</code>


    <!--Range-->
    <div mv-control-input label="Quantidade">
      <input type="number" name="rangeName" id="mvFormRangeName" value="1"
             ng-model="mvfData.number"/>

      <div class="mv-control-messages text-error">
        <ul mv-icon-list ng-messages="mvf.rangeName">
          <li ng-message="$invalid">
            <i mv-icon mv-icon-item name="bell-o"></i>
            Número inválido
          </li>
        </ul>
      </div>
    </div>

    <code>Number: {{mvfData.number}}</code>
  </section>


  <!--Toggle-->
  <section class="demo-section">
    <header>
      <h1>Toggle
        <small>[restrict: (A)]</small>
      </h1>
    </header>

    <!--<h2>mv-toggle</h2>-->
    <div mv-control-toggle label="Toggle" icon="user" ng-model="mvfData.active">
      <input type="checkbox" id="user-control" name="toggleName" ng-model="mvfData.active"/>

      <div class="mv-control-messages text-warning">
        <ul mv-icon-list ng-switch="mvfData.active">
          <li ng-switch-when="true"><i mv-icon mv-icon-item name="bell-o"></i> <strong>Cuidado:</strong> Este tipo de
            opção
            pode prejudicar o desempenho do sistema.
          </li>
        </ul>
      </div>
    </div>

  </section>


  <!-- Select -->
  <section class="demo-section">
    <header>
      <h1>mv-control-select
        <small>[restrict: (A)]</small>
      </h1>
    </header>

    <div mv-control-select icon="glass" label="Select">
      <select id="mvFormSelectName" name="selectName"
              ng-model="mvfData.selectName"
              ng-options="color.name for color in colors">
      </select>
    </div>
    <code>{{mvfData.selectName}}</code>

  </section>


  <!-- Checklist -->
  <section class="demo-section">
    <header>
      <h1>mv-control-checklist
        <small>[restrict: (A)]</small>
      </h1>
    </header>

    <div mv-control-checklist id="union" icon="envelope" label="Qual a sua cor favorita?"
         options="colorNames"
         ng-model="mvfData.colorPerfil">
    </div>
    <code>{{mvfData.colorPerfil}}</code>

  </section>


</form>


<section class="demo-section">

  <form class="mv-form mv-form-icon" novalidate>


    <!--Radio List -->
    <div class="mv-control mv-control-radiogroup mv-control-setup mv-control-button">
      <label>Radio List</label>
      <span class="mv-control-value">
        {{mvFormData.textRadio}}
      </span>

      <div class="mv-control-button-area">
        <button type="button" class="mv-btn">
          <mv-i name="angle-down"></mv-i>
        </button>
      </div>
      <ul class="mv-control-setup-area mv-container-fluid" ng-show="true">
        <li class="mv-row">
          <div class="mv-col xs-10">Em pé</div>
          <div class="mv-control-area mv-col xs-2">
            <input type="radio" class="mv-control-radio" value="Em pé"
                   ng-model="mvFormData.textRadio"/>
          </div>
        </li>
        <li class="mv-row">
          <div class="mv-col xs-10">Sentado</div>
          <div class="mv-control-area mv-col xs-2">
            <input type="radio" class="mv-control-radio" value="Sentado"
                   ng-model="mvFormData.textRadio"/>
          </div>
        </li>
      </ul>
    </div>

    <!--File-->
    <div class="mv-control mv-control-file mv-control-icon mv-control-button mv-control-setup">
      <mv-i name="camera-retro"></mv-i>
      <label for="mvFormFileName">File</label>
      <span class="mv-control-value">
        {{mvFormData.fileName.file[0]}}
      </span>

      <div class="mv-control-button-area">
        <button type="button" class="mv-btn">
          <mv-i name="paperclip"></mv-i>
        </button>
      </div>
      <div class="mv-control-setup-area">
        <div class="mv-control-file-area">
          <input type="file" id="mvFormFileName" name="fileName"
                 ng-model="mvFormData.fileName"/>
        </div>
        <div class="mv-control-file-upload-area">
          <mv-i name="cloud-upload"></mv-i>
          Clique ou arraste seu arquivo
        </div>
      </div>
    </div>

    <!--Date-->
    <div class="mv-control mv-control-button mv-control-setup">
      <label for="mvFormDateName">Date</label>
      <input type="date" name="dateName" id="mvFormDateName" value=""
             class="mv-control-input"
             ng-model="mvFormData.textDate"/>

      <div class="mv-control-button-area">
        <button type="button" class="mv-btn">
          <mv-i name="calendar"></mv-i>
        </button>
      </div>
      <div class="mv-control-setup-area" ng-show="true">
        calendário
      </div>
    </div>
    </div>

    <!--Time-->
    <div class="mv-control mv-control-button mv-control-setup">
      <label for="mvFormDatetimeName">Time</label>
      <input type="datetime" name="datetimeName" id="mvFormDatetimeName" value=""
             class="mv-control-input"
             ng-model="mvFormData.textDateTime"/>

      <div class="mv-control-button-area">
        <button type="button" class="mv-btn">
          <mv-i name="clock-o"></mv-i>
        </button>
      </div>
      <div class="mv-control-setup-area" ng-show="true">
        time selector
      </div>
    </div>

    <!--Color-->
    <div class="mv-control mv-control-button mv-control-setup">
      <label for="mvFormColorName">Color</label>
      <input type="text" name="colorName" id="mvFormColorName" value="f4450c"
             class="mv-control-input"
             ng-model="mvFormData.textColor"/>

      <div class="mv-control-button-area">
        <button type="button" class="mv-btn">
          <mv-i name="eyedropper"></mv-i>
        </button>
      </div>
      <div class="mv-control-setup-area" ng-show="true">
        color selector
      </div>
    </div>
  </form>
</section>

<!--<h2>mv-input</h2>-->


<!--<h2>mv-select</h2>-->

<!--<mv-select label="Selecione sua cor favorita" id="mvf-color" name="color" icon="tint"-->
<!--options="colors" col="name"-->
<!--ng-model="mvfData.color">-->
<!--</mv-select>-->
<!--<pre>{{mvfData.color}}</pre>-->

<!--<h2>mv-checklist</h2>-->
<!--<mv-check-list label="Que cores você gosta?" id="mvf-colorlist"-->
<!--ng-model="mvfData.colorPerfil"-->
<!--options="colorNames">-->
<!--</mv-check-list>-->
<!--<pre>{{mvfData.colorPerfil}}</pre>-->

<!--<h2>mv-radiogroup</h2>-->
<!--<mv-radio-group label="Qual sua cor favorita?" id="mvf-radiogroup" name="favoriteColor"-->
<!--ng-model="mvfData.favoriteColor"-->
<!--options="colorNames">-->
<!--</mv-radio-group>-->
<!--<pre>{{mvfData.favoriteColor}}</pre>-->

<!--<h2>mv-file</h2>-->
<!--<mv-file label="Avatar" id="mvf-file" name="avatar" icon="camera-retro"-->
<!--url="/index.html"-->
<!--ng-model="mvfData.avatar">-->
<!--</mv-file>-->
<!--<pre>{{mvfData.avatar}}</pre>-->

<!--<div class="mv-control mv-control-icon">-->
<!--<i mv-icon name="question-circle"></i>-->
<!--<label for="mvf-version">Info</label>-->
<!--<input type="text" name="toggleName" id="mvf-version" disabled-->
<!--class="mv-control-info mv-control-value"-->
<!--ng-model="mvfData.version"/>-->
<!--</div>-->


<!--<h2>mv-info</h2>-->

<!--<mv-info display="info" label="Info" name="question-circle"-->
<!--ng-model="mvfData.version"></mv-info>-->

<!--<pre>{{mvfData.version}}</pre>-->

<!--<mv-input label="Text" id="mvf-user" name="user" icon="user"-->
<!--ng-model="mvfData.user"></mv-input>-->
<!--<pre>{{mvfData.user}}</pre>-->

<!--<div class="mv-control mv-control-warning mv-control-icon">
  <mv-i name="user"></mv-i>
  <label for="mvFormTextName">Text</label>
  <input type="text" name="textName" id="mvFormTextName" value=""
         class="mv-control-input"
         placeholder="Value"
         ng-model="mvfData.user"/>
</div>-->


<!--<mv-input type="email" label="E-mail" id="mvf-email" name="email" icon="envelope"-->
<!--ng-model="mvfData.email"></mv-input>-->
<!--<pre>{{mvfData.email}}</pre>-->

<!-- <div class="mv-control mv-control-icon">
   <mv-i name="envelope"></mv-i>
   <label for="mvFormEmailName">E-mail</label>
   <input type="email" name="emailName" id="mvFormEmailName" value=""
          class="mv-control-input"
          placeholder="meuemail@dominio.com"
          ng-model="mvfData.email"/>
 </div>-->


<!--<mv-input type="number" label="Number" id="mvf-number" name="number"-->
<!--ng-model="mvfData.number"></mv-input>-->
<!--<pre>{{mvfData.number}}</pre>-->

<!--<div class="mv-control">
  <label for="mvFormRangeName">Range</label>
  <input type="number" name="toggleName" id="mvFormRangeName" value="1"
         class="mv-control-input"
         ng-model="mvfData.number"/>
</div>-->


<!--<mv-input type="password" label="Password" id="mvf-password" name="pasword"-->
<!--ng-model="mvfData.password"></mv-input>-->
<!--<pre>{{mvfData.password}}</pre>-->
<!--
<div class="mv-control">
  <label for="mvFormPasswordName">Password</label>
  <input type="password" name="passwordName" id="mvFormPasswordName" value=""
         class="mv-control-input"
         placeholder="****"
         ng-model="mvfData.password"/>
</div>-->

<!--
<div class="mv-control">
    <label for="mvFormSelectName">Selecione sua cor favorita</label>
    <select id="mvFormSelectName" name="selectName"
            class="mv-control-select"
            ng-model="mvFormData.selectName"
            ng-options="color.name for color in colors">
    </select>
  </div>
  -->
<!--Check list-->
<!--<div class="mv-control mv-control-checklist mv-control-button mv-control-icon mv-control-setup ">
  <mv-i name="question-circle"></mv-i>
  <label>Check List</label>
  <span class="mv-control-value">
    {{mvFormData.textCheck}}
  </span>

  <div class="mv-control-button-area">
    <button type="button" class="mv-btn">
      <mv-i name="angle-down"></mv-i>
    </button>
  </div>
  <ul class="mv-control-setup-area mv-container-fluid">
    <li class="mv-row">
      <div class="mv-col xs-10">Em pé</div>
      <div class="mv-control-area mv-col xs-2">
        <input type="checkbox" class="mv-control-checkbox"
               ng-model="mvFormData.textCheck.empe"/>
      </div>
    </li>
    <li class="mv-row">
      <div class="mv-col xs-10">Sentado</div>
      <div class="mv-control-area mv-col xs-2">
        <input type="checkbox" class="mv-control-checkbox"
               ng-model="mvFormData.textCheck.sentado"/>
      </div>
    </li>
  </ul>
</div>-->
