<section class="demo-section">
  <header>
    <h1>Lista</h1>
  </header>
  <p>Incorporado ícones do projeto
    <a href="http://fortawesome.github.io/Font-Awesome/examples/" target="_blank">
      FontAwesome 4.0.2.
    </a>
  </p>
</section>
<form novalidate="novalidate" id="listIcons">

  <div mv-control-input label="Pesquisar" icon="search">
    <input type="text" id="inputCriterio" name="criterio"
           placeholder="Qual item você gostaria de ver?"
           ng-model="query.criterio"/>
  </div>
  <mv-container>
    <mv-row>
      <div class="mv-col xs-4 sm-4 md-4 item-icon" ng-repeat="icon in icons | filter: query.criterio">
        <i mv-icon name="{{icon.id}}" zoom="3x"></i>
        <span>{{icon.name}}</span>
        <i>{{icon.id}}</i>
      </div>
    </mv-row>
    <div class="text-error" ng-if="icon.length<1">
      Erro ao Carregar
    </div>
  </mv-container>
</form>
