<section class="demo-section">
  <header>
    <h1>Título da página <small>.mv-page-header</small></h1>
  </header>
  <p>Apresenta uma barra de título para a página. Por convenção utilizar a tag <code>&lt;header&gt;</code></p>

  <h2>Título <small>data-title</small></h2>
  <div class="container-fluid">
    <pre>
      &lt;header class=&quot;mv-page-header&quot; data-title=&quot;Usu&aacute;rio&quot;&gt;
        ...
      &lt;/header&gt;</pre>
    <header class="mv-page-header" data-title="Usuário">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur dicta et fuga iure iusto, modi necessitatibus quis vel voluptatibus? Animi aperiam deserunt dolores, fuga iure nesciunt quae quia voluptas.</p>
    </header>
  </div>

  <h2>Ícone <small>data-icon</small></h2>
  <div class="container-fluid">
    <pre>
      &lt;header class=&quot;mv-page-header&quot; data-icon=&quot;user&quot; data-title=&quot;Usu&aacute;rio&quot;&gt;
        ...
      &lt;/header&gt;</pre>
    <header class="mv-page-header" data-title="Usuário" data-icon="user">
     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consequuntur dicta et fuga iure iusto, modi necessitatibus quis vel voluptatibus? Animi aperiam deserunt dolores, fuga iure nesciunt quae quia voluptas.</p>
    </header>
  </div>

</section>
